/*
 * $Id: ${UPPER_CLASS_NAME}Service.java,v 1.1 2012/03/18 14:58:19 ganjp Exp $
 * 
 * Copyright 2011 the original author or authors.
 * This software is core of developing project and written by ganjianping. 
 */
package ${BASE_PACKAGE}.${MODULE_NAME}.service;

import ${BASE_PACKAGE}.${MODULE_NAME}.model.${UPPER_CLASS_NAME};
import org.ganjp.core.db.base.Page;

import java.util.List;
import java.util.Map;

/**
 * {annotation}
 * 
 * @author ganjp
 * @version 1.0
 * @since 1.0
 */
public interface ${UPPER_CLASS_NAME}Service {
	/**
	 * add ${UPPER_CLASS_NAME}
	 * 
	 * @param columnNames new String[]{"config_key","config_value"}
	 * @param paramObjects Object[]{'isStartupH2','true'}
	 */
	public void add${UPPER_CLASS_NAME}(final String[] columnNames, final Object[] paramObjects);
	
	/**
	 * edit ${UPPER_CLASS_NAME}
	 * 
	 * @param columnNames new String[]{"config_key","config_value","config_id"}
	 * @param paramObjects  Object[]{'isStartupH2','true','1234567890123456789012345679012'}
	 */
	public void edit${UPPER_CLASS_NAME}(final String[] columnNames, final Object[] paramObjects);
	
	/**
	 * delete ${UPPER_CLASS_NAME} records by primary key
	 * 
	 * @param ${ID}
	 */
	public void delete${UPPER_CLASS_NAME}ByPk(String ${ID});
	
	/**
	 * batch delete ${UPPER_CLASS_NAME} records by primary keys
	 * 
	 * @param pks
	 */
	public ${UPPER_CLASS_NAME} get${UPPER_CLASS_NAME}ByPk(final String pk);
	
	/**
	 * get ${UPPER_CLASS_NAME} by by primary key
	 * 
	 * @param pk
	 * @return
	 */
	public void delete${UPPER_CLASS_NAME}sByPks(String pks);
	
	/**
	 * get all ${UPPER_CLASS_NAME} records 
	 * 
	 * @return
	 */
	public List getAll();
	
	/**
	 * get all ${UPPER_CLASS_NAME} record Page 
	 * 
	 * @param pageNo
	 * @param pageSize
	 * @return
	 */
	public Page getAllPage(final int pageNo, final int pageSize, final Map searchSqlAndValuesMap);
}