/**
 * $Id: ${UPPER_CLASS_NAME}Controller.java,v 1.0 2014/12/18 22:17:49 GanJianping Exp $
 *
 * Copyright (c) 2012 Gan Jianping. All rights reserved
 * GOne Project
 *
 */
package ${BASE_PACKAGE}.${MODULE_NAME}.controller;

import ${BASE_PACKAGE}.${MODULE_NAME}.model.${UPPER_CLASS_NAME};
import ${BASE_PACKAGE}.${MODULE_NAME}.service.${UPPER_CLASS_NAME}Service;
import java.util.List;
import org.springframework.beans.factory.annotation.Autowired;
import org.springframework.stereotype.Controller;
import org.springframework.web.bind.annotation.*;

/**
 * <p>${UPPER_CLASS_NAME}Controller</p>
 * 
 * @author GanJianping
 * @since 1.0
 */
@Controller
public class ${UPPER_CLASS_NAME}Controller {

    @ResponseBody
    @RequestMapping(value = "/${MODULE_NAME}/${CLASS_NAME_WITHOUT_MODULE_NAME}s", method = RequestMethod.GET)
    public List<${UPPER_CLASS_NAME}> searchAll() throws Exception {
        List<${UPPER_CLASS_NAME}> ${LOWER_CLASS_NAME}s = ${LOWER_CLASS_NAME}Service.findAll();
        return ${LOWER_CLASS_NAME}s;
    }
    
	@Autowired
	private ${UPPER_CLASS_NAME}Service ${LOWER_CLASS_NAME}Service;
}